/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

/* reset css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto Mono';
    font-size: 62.5%;
    line-height: 1.4;
    font-weight: 400;
}


p {
    margin: 0 10px;
}

a {
    text-decoration: none;
}

h1, h2 {
    font-weight: 700;
    line-height: 1.7; 
}

label {
    line-height: 2.4rem;
}

/* Utilities */
.btn {
    border: none;
    display: inline-block;
    background: #71faf8;
    padding: 13px 20px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 2px;
}

/* Form */

.section-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.img-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: rgb(203, 203, 203);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.img-form img {
    width: 90%;
}

.form {
    width: 50%;
    height: 100%;
    font-size: 0.9rem;
}

.form-header .title{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 5rem;
}   

.form-header .title::after {    
    position: absolute;
    content: ' ';
    bottom: 0;
    width: 10rem;
    height: 0.2rem;
    border-radius: 1rem;
    background: linear-gradient(0.25turn, #3dd1db, #f76a65, #fdff7a);
}


.input-group {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 1rem 0rem 1rem;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;    
    padding: 0 2rem;
}

.input-box.name {
    width: 50%;
}

.input-box input, textarea {
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #333;
    resize: none;
}

.input-box.email {
    margin-top: 0.8rem;
    width: 100%;
}

.input-box.mensagem {
    width: 100%;
    height: 200px;
} 

.input-box.mensagem > textarea {
    height: 100%;
}


.container-btn {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}